*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
body{
    background-color: rgb(213, 234, 249);
    text-align: center;
}
.heading{
    padding-top: 10px ;
    text-decoration: underline;
    color: rgb(0, 96, 164);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
}
.gallery img{
    width: 100%;
    cursor:pointer;
    box-shadow: -1px 1px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}
.gallery img:hover{
    transform: scale(1.1);
}
